---
---

@import 'variables';
@import 'global';
@import 'code';
@import 'fonts';
@import 'pygments';
@import 'icons';
@import 'type';

// Structure ------------------------------------------------------------------

header {
  background: #fff;
  border-bottom: 1px solid $color-soft;
  height: 60px;
  opacity: 0.9;
  position: fixed;
  line-height: 60px;
  top: 0;
  left: 0;
  width: 100%;
}

.logotype {
  color: $color-dark;
  font-size: 27px;
  font-weight: 600;
}

.logotype:before {
  font-family: "icomoon";
  content: "\e604";
  display: block;
  float: left;
  margin-right: 5px;

  transform-origin: 16px 0;

  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.logotype:hover:before {
  color: $color-accent;
  transform: rotateY(360deg);
}

.wrapper {
  margin: 0 auto;
  max-width: 720px;
  overflow: hidden;
}

.home-sub {
  padding: 30px 0 0;

  h2 {
    margin-bottom: 15px;
  }
}

// Footer ---------------------------------------------------------------------

footer {
  background: #f6f6f6;
  margin-top: 15px;
  overflow: hidden;
  padding: 30px 0 30px;
}

.footer-contact {
  float: left;
  width: 50%;
}

.contact-here {
  border-right: 1px solid $color-soft;
  padding-right: 20px;
  text-align: right;
}

.contact-here a {
  color: $color-light;
  display: block;
}

.contact-there {
  padding: 17px 0 0 20px;
}

.contact-there a {
  color: $color-light;
  font-size: 30px;
  margin-right: 20px;
  position: relative;

  -webkit-transition: color 0.3s ease;
     -moz-transition: color 0.3s ease;
          transition: color 0.3s ease;
}

.contact-there a:last-child {
  margin-right: 0;
}

.contact-here a:hover, .contact-there a:hover {
  color: $color-dark;
}

.contact-there span {
  background: #fff;
  border-radius: 3px;
  bottom: 0;
  font-family: "proxima-nova-1", "proxima-nova-2", sans-serif;
  font-size: $font-size-normal;
  left: -20px;
  opacity: 0;
  padding: 3px;
  position: absolute;
  text-align: center;
  width: 70px;

  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.contact-there a:hover span {
  bottom: 40px;
  opacity: 1.0;
}

// Index ----------------------------------------------------------------------

.home-primary {
  background: $color-subacc;
  color: #fff;
  padding: ($grid-unit * 10) ($grid-unit * 2);
}

.home-sub.team {
  border-top: 1px solid lighten($color-soft, 10%);
}

.tagline {
  color: inherit;
  font-size: 72px;
  font-weight: 200;
  line-height: 90px;
  margin-bottom: 30px;
  text-align: center;
}

.tagline em {
  @extend .fancy;
}

.intro {
  color: inherit;
  font-size: 32px;
  font-weight: 200;
  line-height: 45px;
  text-transform: none;
}

.intro b {
  font-weight: 600;
}

.blog-listing {
  overflow: hidden;
}

.blog-entry {
  display: block;
  float: left;
  max-height: $grid-unit * 14;
  margin-bottom: 32px;
  overflow: hidden;
  width: 47.5%;

  &:nth-child(odd) {
    margin-right: 5%;
  }
}

.blog-entry h3 {
  margin-bottom: 0;

  -webkit-transition: color 0.3s ease;
     -moz-transition: color 0.3s ease;
          transition: color 0.3s ease;
}

.blog-entry:hover h3 {
  color: $color-accent;
}

.blog-entry p {
  color: $color-light;
}

// Entry ----------------------------------------------------------------------

.entry-title {
  border-bottom: 1px solid $color-soft;
  margin: ($grid-unit * 14) 0 ($grid-unit * 4);
  padding-bottom: $grid-unit * 6;
  text-align: center;

  span {
    display: inline;
  }
}

// Media Queries --------------------------------------------------------------

@media (max-width: 320px) {
  .wrapper {
    padding: 0 20px;
  }

  .footer-contact {
    border: none;
    float: none;
    padding: 0;
    text-align: center;
    width: auto;
  }

  .contact-here {
    margin-bottom: 15px;
  }

  .home-primary {
    padding: 30px 0;
    margin-bottom: 30px;
  }

  .tagline {
    font-size: 48px;
    line-height: 60px;
  }

  .intro {
    font-size: $font-size-normal;
    line-height: 30px;
  }

  .blog-entry {
    float: none;
    margin-bottom: 15px;
    width: auto;
  }
}
