<form action="//sorentwo.us11.list-manage.com/subscribe/post?u=61f251425c86705127b3ed42d&amp;id=7b7f0dc085" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="blog-subscribe form-subscribe" accept-charset="UTF-8" target="_blank" novalidate>
  <input type="hidden" name="utf8" value="✓">
  <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="jane@example.com" required>
  <button type="submit" class="button subscribe-button" id="mc-embedded-subscribe">Never Miss a Post</button>

  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;">
    <input type="text" name="b_61f251425c86705127b3ed42d_7b7f0dc085" tabindex="-1" value="">
  </div>
</form>
