.contact-form {
  padding-top: line-units(3);
  padding-bottom: line-units(3);
  max-width: 600px;
}

.contact-old-fashioned {
  font-family: $font-family-sans;
  text-align: center;

  @media (max-width: 500px) {
    a {
      display: block;
    }

    span {
      display: none;
    }
  }
}
