footer {
  color: $color-white;
  background: $color-dark;
  font-family: $font-family-sans;
  padding: line-units(3) 0;
  text-align: center;

  @media (max-width: 500px) {
    padding: line-units(2) 0;
  }

  > .wrapper {
    overflow: visible;
  }
}

.contact-here {
  color: $color-light;
  font-size: $font-size-small;
  margin-bottom: 0;
}

a.footer__link, .footer__link {
  fill: $color-slight;
  margin-right: 1rem;
  text-decoration: none;

  &:last-child {
    margin-right: 0;
  }

  &:hover .icon {
    fill: lighten($color-accent, 25%);
  }
}

.icon.icon--footer {
  height: 1.5rem;
  width: 1.5rem;
}
