fieldset {
  border: none;
  margin-bottom: line-units(2);
}

input,
textarea {
  border: none;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  background: $color-slight;
  font-size: line-units(1);
  font-family: $font-family-sans;
  padding: grid-units(2);
  width: 100%;
}

label {
  display: block;
  font-family: $font-family-sans;
  font-weight: 700;
  margin-bottom: line-units(0.5);
}

.button {
  background: $color-accent;
  border-radius: 3px;
  border: none;
  color: $color-white;
  cursor: pointer;
  display: block;
  font-size: $font-size-smaller;
  font-weight: 700;
  margin: 0 auto;
  min-width: grid-units(20);
  padding: grid-units(2);
  text-align: center;
  text-transform: uppercase;
}

.input {
  margin-bottom: line-units(1);
}

.form-title {
  font-size: $font-size-large;
  margin-bottom: line-units(2);
  text-align: center;
}

.form-subtitle {
  font-size: 20px;
}

.form-subscribe-header-wrapper {
  border-bottom: 1px solid $color-soft;
  margin-bottom: line-units(4);
  padding-bottom: line-units(4);
}

.form-subscribe-footer-wrapper {
  border-top: 1px solid $color-soft;
  margin-top: line-units(4);
  padding: line-units(4) 0;
}

.form-subscribe {
  overflow: hidden;

  input {
    border-radius: 6px;
    max-width: 70%;
  }
}

.subscribe-button {
  display: inline-block;
  float: right;
}
