html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $color-medium;
  font: 18px/32px 'calluna', serif;
  padding-top: line-units(4);
}

.wrapper {
  margin: 0 auto;
  max-width: 720px;
  overflow: hidden;

  &.room-on-top {
    margin-top: line-units(4);
  }
}

.alternate {
  background: $color-soft;
}
