html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $color-medium;
  font: 18px/32px 'calluna', serif;
  padding-top: 72px;
}

.wrapper {
  margin: 0 auto;
  max-width: 800px;
  overflow: hidden;
}

.alternate {
  background: $color-soft;
}
