header {
  background: rgba(51, 51, 51, 0.95);
  height: line-units(4);
  position: fixed;
  line-height: line-units(4);
  top: 0;
  left: 0;
  width: 100%;

  nav {
    position: relative;
    text-align: center;

    a {
      border-bottom: 2px solid transparent;
      color: $color-white;
      font-family: $font-family-sans;
      font-size: $font-size-smaller;
      margin-right: $grid-unit * 8;
      padding: 3px 0;
      text-transform: uppercase;
      vertical-align: middle;

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        border-bottom: 2px solid $color-white;
      }
    }
  }
}

.logotype {
  color: $color-white;
  font-size: 2em;
  font-weight: normal;
  line-height: 2em;
  position: absolute;
  left: 0;
}

.logotype::before {
  font-family: "icomoon";
  content: "\e604";
  display: block;
}
