.icon-github:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-feed:before {
	content: "\e602";
}
.icon-menu:before {
	content: "\e603";
}
.icon-soren-logo:before {
	content: "\e604";
}
