.team {
  margin-bottom: line-units(6);
  padding-top: line-units(10);
  padding-bottom: line-units(10);
  text-align: center;

  @media (max-width: 320px) {
    padding-top: line-units(6);
    padding-bottom: line-units(6);
  }
}

.services {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: line-units(2) 0;
}

.section-title {
  font-size: $font-size-large;
  margin-bottom: line-units(2);
  text-align: center;
}

.services-item {
  flex: 50% 0;
  margin-bottom: line-units(2);

  &:nth-of-type(odd) {
    padding-right: grid-units(2);
  }

  @media (max-width: 320px) {
    flex: 100% 0;
    padding-left: grid-units(2);
    padding-right: grid-units(2);
  }
}

.inquire {
  border-top: 1px solid $color-soft;
  padding: line-units(4) 0;
  text-align: center;
}

.inquire-title {
  display: inline-block;
  margin-right: grid-units(2);
}

.inquire-button {
  display: inline-block;
  font-family: $font-family-sans;
  max-width: 20%;
}
