.services {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: line-units(2) 0;
}

.services-title {
  margin-bottom: line-units(2);
  text-align: center;
  flex: 1 100%;
}

.services-item {
  flex: 50% 0;
  margin-bottom: line-units(2);

  &:nth-of-type(odd) {
    padding-right: 16px;
  }
}
