$color-slight: #f9f9f9;
$color-dark:   #333333;
$color-medium: #555555;
$color-light:  #8d8d8d;
$color-soft:   #cccccc;
$color-accent: #27afc9;
$color-subacc: #49acbd;

$font-size-smaller: 16px;
$font-size-normal: 18px;
$font-size-midsize: 24px;
$font-size-large: 32px;

$grid-unit: 8px;
