$color-white:  rgb(255, 255, 255);
$color-slight: rgb(249, 249, 249);
$color-soft:   rgb(232, 232, 232);
$color-light:  rgb(141, 141, 141);
$color-medium: rgb(85, 85, 85);
$color-dark:   rgb(51, 51, 51);
$color-accent: rgb(39, 175, 201);
$color-subacc: rgb(73, 172, 189);

$font-family-serif: 'calluna', serif;
$font-family-sans:  'calluna-sans', sans-serif;
$font-size-small:   13px;
$font-size-smaller: 16px;
$font-size-normal:  18px;
$font-size-midsize: 24px;
$font-size-large:   36px;

$grid-unit: 8px;
$line-unit: 18px;

@function line-units($n) {
  @return $n * $line-unit;
}

@function grid-units($n) {
  @return $n * $grid-unit;
}

@function grid-width($n) {
  @return $n * $grid-column + ($n - 1) * $grid-gutter;
}
