<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport"    content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="soren designs and develops web applications">
    <meta name="keywords"    content="soren, sorentwo, chicago, ruby, rails, ruby on rails, coffeescript, elixir, tdd, test driven development, bdd, behavior driven development, shannon peterson, parker selbert">
    <meta name="author"      content="Parker Selbert">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
  </head>

  <body>
    <div class="wrapper">
      <header><h1>{{ page.title }}</h1></header>
      <section>{{ content }}</section>
      <footer>
        &copy; 2013 &mdash; Parker Selbert
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '51e44499613f5d2b3b00009e');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
